POSTGRES_DB=maintdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/maintdb
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_PROFILES_ACTIVE=docker

FRONTEND_PORT=80
